/* Project Card */
.custom-card:hover{
    background:linear-gradient(120deg,rgba(94, 94, 255,0.3),rgba(255, 94, 94,0.3));
    color: #fff;
}

.custom-btn{
    background:linear-gradient(120deg,rgb(1, 104, 189),rgba(221, 0, 173, 0.733));
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 12px 6px 12px;
}

/* scroll bar */
.custom-scroll {
    /* max-height: 320px; */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #1d66b9 transparent;
  }
  
  .custom-scroll::-webkit-scrollbar {
    width: 6px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #1d66b9;
    border-radius: 10px;
  }
  


/* Accordion item */
.custom-accordion .accordion-item {
  background-color: transparent;
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Header button */
.custom-accordion .accordion-button {
    background:linear-gradient(120deg,rgba(94, 94, 255,0.3),rgba(255, 94, 94,0.3));
  /* background:linear-gradient(150deg ,rgba(0, 26, 255, 0.801),rgb(255, 5, 159)); */
  color: #fff;
  font-weight: 600;
  border-radius: 10px;  
}
.custom-accordion .accordion-button:hover {
    background:linear-gradient(120deg,rgb(1, 104, 189),rgba(221, 0, 173, 0.733));
    /* background:linear-gradient(135deg ,rgba(0, 195, 255,0.5),rgba(241, 80, 180,0.5)); */
    color: #ffffff;
    
    transform: translateY(-2px);
    transition: transform 0.2s ease-in;
}


/* Remove default focus */
.custom-accordion .accordion-button:focus {
    box-shadow: none;
}


/* Arrow icon */
.custom-accordion .accordion-button::after {
    filter: invert(1);
}

/* Body */
.custom-accordion .accordion-body {
    background-color: #222222;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.custom-accordion .accordion-body .figure-caption{
    color:#fff
}


.custom-bg{
 color: white;
  background:linear-gradient(120deg,rgb(1, 104, 189),rgba(221, 0, 173, 0.733));
}
.custom-bg:hover{
  transform: translateY(-2px);
  transition: transform 0.2s ease-in;
  color: black;
 background:linear-gradient(120deg,rgba(94, 94, 255,0.3),rgba(255, 94, 94,0.3));
}